[user]
	email = aque9512003@gmailcom
	name = wylin
[alias]
	lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	br = branch
	co = checkout
	cm = commit -m
	st = status
